{"http_interactions":[{"request":{"method":"get","uri":"http://api.olhovivo.sptrans.com.br/v0/Posicao?codigoLinha=1273","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":"eyJNZXNzYWdlIjoiQXV0aG9yaXphdGlvbiBoYXMgYmVlbiBkZW5pZWQgZm9y\nIHRoaXMgcmVxdWVzdC4ifQ==\n"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 01:18:34 GMT"}],"recorded_with":"VCR 2.8.0"}
