{"http_interactions":[{"request":{"method":"post","uri":"http://api.olhovivo.sptrans.com.br/v0/Login/Autenticar?token=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa","body":{"encoding":"UTF-8","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":"ZmFsc2U=\n"},"http_version":null},"recorded_at":"Mon, 13 Jan 2014 01:13:18 GMT"}],"recorded_with":"VCR 2.8.0"}